{
    "plugins": [
        "syntax-dynamic-import",
        ["@babel/transform-runtime", {
            "regenerator": true
        }]
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ]
}
